CONFIG_IDF_TARGET="esp32"
CONFIG_PINGUINO_FIRMWARE_TOUCHSCREEN=y
CONFIG_I2CDEV_TIMEOUT=250
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_touchscreen_4mb.csv"
CONFIG_PINGUINO_TOUCHSCREEN_SERIAL_DIAGNOSTIC=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_24=y
